<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/starter-template/">

    <title>Waiting for Confirmation</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2>Menunggu Konfirmasi</h2>
          <p>{{ body }}</p>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th style="padding-right: 16px;">No.</th>
                  <th style="padding-right: 16px;">Order ID</th>
                  <th style="padding-right: 16px;">Nama</th>
                  <th style="padding-right: 16px;">Sum Total</th>
                  <th style="padding-right: 16px;">URL</th>
                </tr>
              </thead>
              <tbody>
              {% set i = 1 %}  
              {% for item in order_data %}
                <tr>
                  <td>{{ i }}</td>
                  <td>{{ item['order_id'] }}</td>
                  <td>{{ item['full_name'] }}</td>
                  <td>{{ item['sum_total'] }}</td>
                  <td> <a href="{{ portal_url }}/administrator/orderhistorywaitingadmin?app_label={{ app_label }}&order_id={{ item['order_id'] }}">Detail</a> </td>
                </tr>
                {% set i = i + 1 %}
              {% endfor %}
              </tbody>
            </table>            
            <br>
            <p>Terima kasih.</p>
        </div>
      </div>
    </div>
 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
